.Welcome {
  color: #91baff;
  font-size: 100px;
  margin-left: 240px;
}

.WelcomeLine {
  height: 20px;
  width: 1370px;
  background: #28A9F1;
  margin-left: 40px;
  border-radius: 50px;
  border: 0px;
}

.NewGames {
  color: #5B92E5;
  font-size: 80px;
  margin-top: 0px;
  margin-left: 70px;
}

.NewGame {
  margin-left: 25px;
  margin-top: 25px;
}

.NewGame1Border {
  border-radius: 50px;
  height: 350px;
  width: 350px;
  margin-left: 60px;
  background: white;
  margin-top: -40px;
}

.NewGame2Border {
  border-radius: 50px;
  height: 350px;
  width: 350px;
  margin-left: 400px;
  background: white;
  margin-top: -334px;
}

.NewGame3Border {
  border-radius: 50px;
  height: 350px;
  width: 350px;
  margin-left: 400px;
  background: white;
  margin-top: -332px;
}

.Games {
  margin-left: 1300px;
  margin-top: 70px;
}

.NewGamesDiv {
  margin-top: -230px;
}
