.Name {
  color: white;
  font-size: 100px;
  margin-left: 550px;
}

.Image {
  margin-left: 370px;
}

.Treiler {
  margin-left: 200px;
}

.Dis {
  color: white;
  font-size: 60px;
  margin-left: 250px;
}

.Controls {
  color: grey;
  font-size: 60px;
  margin-left: 250px;
}

.Download {
  color: grey;
  font-size: 60px;
  margin-left: 300px;
}

.Download:hover {
  color: white;
}
